body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;      
    color: #ffffff;      
    font-size: 1.5em;
    font-weight: bold;
    text-align:center;
    vertical-align:center;
    line-height: 36px;  
}

  .container {
    display: flex;
    justify-content: center;
    background-color: black;   
}

  .center {      
    width: 900px;
    height: 768px;
    padding-top: 200px;      
    background-image: url("../images/zoltar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 0%;
    

  }

  .wrapper {
    margin-top: 30%;
    text-align: center;
    background-color: black;
  }

  #won {
    color: #ffffff;
    font-size: 1.5em;
  }

  #lost {
    color: #ffffff;
    font-size: 1.5em;
  }

  #attempts {
    color: #ffffff;
    font-size: 1.2em;
  }

  #playerGuess {
    color: #ffffff;
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.6em;
  }